{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{url_for('index')}}">
    {{ form.hidden_tag() }}
    
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">    
        {{ field.label }}
        {{ field (class_='form-control') }}
        <small id="error_msg" class="form-text text-muted">
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </small>
    </div>
    {% endfor %}
    
    <!-- <input type="text" name="first_name">
    <input type="text" name="last_name">  -->
    <button type="submit" class="btn btn-info">Add Student!</button>
</form>

{% endblock %}