{% extends 'base.html' %} {% block content %}

<p>
  {{ student.first_name }}'s excuse No. {{ excuse.id }}
  <br>
  <a href="{{url_for('edit_excuses', id=student.id, excuse_id = excuse.id)}}">Edit excuse</a>:
  {{ excuse.content }}
  <br>
  This excuse is likely {{ excuse.is_believable }}
</p>

<form method="POST" action="{{url_for('show_excuses', id=student.id, excuse_id=excuse.id)}}?_method=DELETE">
  <input type="submit" value="X">
</form>
<hr>
<a href="{{url_for('index')}}">Go back to the main page!</a>
{% endblock %}